<!-- <h1 class="my_name"><span>Scott Crawford</span></h1> -->
<div class="my_name">
  <span>
    <%= image_tag "https://avatars3.githubusercontent.com/u/8398867?s=460&v=4" , class: "img-circular" %>
  </span>
</div>

<div class="content">
  <div class="about_me"
    <p>Developer at DigitalOcean. Formerly at Bonobos.</p>
  </div>

  <div class="contact_info">
    <span>twitter: <a target="_blank" href="https://twitter.com/scafa">@scafa</a></span>
    <span>github: <a target="_blank" href="https://github.com/scottcrawford03">scottcrawford03</a></span>
    <span>linkedin: <a target="_blank" href="https://linkedin.com/in/scottcrawford03">linkedin.com/in/scottcrawford03</a></span>
    <span>email: scottcrawford03@gmail.com</span>
  </div>
</div>
